body {
    background-image: url('avator.jpg'); 
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
.container{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  
}

h1{
    font-size: 24px;
    margin-bottom: 20px;
}

.avatar-selection{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

}

.avatar-option{
    width: 100px;
    height: 100px;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 50%;
    transition: border 0.3s ease;
}

.avatar-option:hover{
    border: 2px solid #ee2929;
}

.selected-avatar{
    margin-top: 20px;

}

.selected-avatar img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #ee2929;
}